
<div class="modal-header">
    <h1 class="modal-title">Sobre RadarLeufú</h1>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <p>RadarLeufú es un mapeo ambiental de la cuenca del río Negro, Limay y Neuquén hecho
         por ciudadanos preocupados por el presente y futuro de su entorno.
         La herramienta busca visibilizar los conflictos y amenazas ambientales de la región para movilizarnos colectivamente,
         exigiendo respuestas y generando propuestas ciudadanas.
        </p>
        <p>
            Nos gusta el río y lo vemos como un bien común que debe ser cuidado y respetado por todos,
            más allá de los límites administrativos provinciales o municipales.
        </p>
        <p>
            RadarLeufú es un espacio de participación, reflexión y diagnóstico ambiental desde
            donde se puedan resaltar las riquezas y la abundancia de las capacidades ciudadanas,
            sumando la voz de los vecinos al debate sobre la realidad ambiental de la región.
        </p>
        <p>
        En RadarLeufú quedan reflejados los conflictos socioambientales,
        pero también las iniciativas ciudadanas y los emprendimientos ambientalmente responsables,
        las buenas prácticas en gestión ambiental, las organizaciones de la sociedad civil que
        buscan unas mejores condiciones ambientales y los deseos y propuestas de ciudadanos individuales
         para mejorar la sostenibilidad en la región.

        </p>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Nos gusta">
            <ng-template ngbPanelContent>
              <p>En el apartado <b>Nos gusta</b> encontrarás todos los lugares y características que nos entusiasman a lo largo de la cuenca y que se pueden perder si se continúa contaminando este recurso común. Lugares relevantes, tanto por su ecosistema y valor ambiental como por su importancia histórica e identitaria. Si querés sumar algo..., ¡contactanos!

                En un segundo momento, en la segunda mitad del 2018, el
                objetivo es también mapear y valorar las iniciativas ciudadanas
                ambientales que buscan visibilizar, entender y conservar la biodiversidad presente en nuestros ríos.

            </ng-template>
          </ngb-panel>
          <ngb-panel title="Nos preocupa">
            <ng-template ngbPanelContent>
              <p>En <b>Nos preocupa</b> podrás navegar y ver los conflictos ambientales que otros ciudadanos han mapeado
              en las diferentes categorías que proponemos por ahora: </p>
              <ul>
                <li>Vertidos</li>
                <li>Explotación hidrocarburífera</li>
                <li>Tóxicos / agroquímicos</li>
                <li>Microbasurales</li>
                </ul>
            <p>Cada punto en el mapa está acompañado de una (o varias) fotografías, una breve descripción y la fecha
            en que se subió. Pero además de conocer lo que sucede en cada uno de esos puntos,
            también se puede participar para promover un cambio ciudadano desde abajo:</p>
            <ul>
                <li><b>Lo he visto y es así</b> implica que conocemos del caso: así
                 le damos validez a ese reporte ambiental de otra persona.</li>

                <li><b>Tengo una propuesta</b> es ir un paso más allá para empezar a involucrarte con otros
                ciudadanos que quieren ver un cambio en las condiciones ambientales en ese punto del río.
                Por medio de propuestas específicas y comentarios, se podrá compartir información relevante a ese
                punto específico, posibles soluciones o información sobre organismos que puedan brindarlas.
                Ser un espacio de encuentro para construir compromiso y conciencia colectiva sobre la cuenca de nuestro río...
            Ése es el gran objetivo de RadarLeufú! :)</li>
            </ul>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Publicar">
            <ng-template ngbPanelContent>
              <p>Si conocés un lugar de la cuenca que esté en peligro podés <b>Publicar</b> y relevarlo directamente en el mapa,
              subiendo una foto e información sobre lo que te preocupa.</p>
              <p> Si tenés conexión en el río, la plataforma te puede ayudar a ubicarte: dale a “Ir a mi ubicación”.
                Seleccioná el punto que quieras visibilizar y seguí los tres (3!) pasos que te indica la plataforma.
                </p>
                <p>
                Si no tenés conexión en ese momento, guardá la foto y la ubicación y subila cuando tengas conexión.
                En cualquiera de los dos casos primero vas a tener que ingresar tu usuario a RadarLeufú. Se puede hacer con Facebook o también con tu email.
                </p>

            </ng-template>
          </ngb-panel>
            <ngb-panel title="Sugerencias">
            <ng-template ngbPanelContent>
              <p>La plataforma RadarLeufú está en estado beta: esto significa que todavía está en modo de pruebas. Muchas cosas no funcionan como deberían, ¡aunque hay muchas otras que ya sí! :)
                Si ves algo que crees que no está del todo bien, por favor escribinos a <a href="mailto:radarleufu@gmail.com">radarleufu@gmail.com</a> así lo revisamos.
                Como se dice desde el software libre: “a mayor cantidad de ojos, más fácil detectar y revisar los errores”.
                </p>
                <p> Por otro lado, ya sea en software, comunicación o creación de comunidad...¡toda la ayuda es bienvenida!
                Nos podés contactar vía email, y estamos en <a href="https://www.facebook.com/RadarLeufu/" target="_blank">Facebook</a> (usamos el hashtag #RadarLeufú).
                También tenemos un grupo de <a href="https://t.me/joinchat/CKOsWA28QPNjKz-48U3aRg" target="_blank">Telegram</a> para la comunicación cotidiana.
                Y el software, por si lo querés revisar y hacer aportes, está en <a href="https://github.com/dataleufu" target="_blank">Github</a>.

                </p>

            </ng-template>
          </ngb-panel>
           <ngb-panel title="Créditos">
            <ng-template ngbPanelContent>
              <p>RadarLeufú es un proyecto ciudadano impulsado regionalmente por amantes de la cuenca del río Negro.
              Si bien cada uno tiene su campo de expertise, trabajamos colaborativamente y de forma distribuída,
               aportando al desarrollo conjunto de la plataforma. </p>
               <p>
               Es ésta forma de trabajar, desde miradas diferentes pero sumando a un objetivo común,
                el que queremos trasladar al enfoque ciudadano y participativo de RadarLeufú.</p>
                <p>
En cuestiones comunes como las temáticas medioambientales, creemos que todos los conocimientos tienen su grado de validez y
utilidad. En el Alto Valle de Río Negro (y tal vez en toda la Argentina...), existe una falta de espacios
 participativos desde los que se puedan generar momentos de reflexión sobre cuestiones socioambientales
 en los que participen conjuntamente ciudadanía y “especialistas”.
 Creemos que la gestión de nuestros recursos naturales afecta por igual a toda la ciudadanía y
  que se puede aportar a ella desde diferentes realidades, prácticas y puntos de vista.
  Se trata de crear espacios horizontales y abiertos donde sea posible articular
   fuerzas colectivas provenientes de experiencias y opiniones diversas.</p>

<p>
RadarLeufú utiliza (¡y agradece!) a las siguientes tecnologías y servicios:</p>
    <ul>
        <li>Globo 3D: <a href="https://cesiumjs.org/" target="_blank">Cesium</a></li>
        <li>Interfaz de usuario: <a href="https://angular.io/" target="_blank">Angular</a></li>
        <li>Framework web: <a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
        <li>Imágenes satelitales: <a href="https://www.bing.com/maps/aerial" target="_blank">Bing maps aerial</a></li>
        <li>Tipografía: <a href="http://freetypography.com/2016/08/17/free-font-affogato/" target="_blank">Affogato</a></li>

    </ul>
    <p>

Los contenidos de la plataforma RadarLeufú tienen una licencia <b>Creative Commons Atribución-CompartirIgual 4.0 Internacional.</b>
Algunos materiales de terceros pueden tener otras licencias.

</p>

            </ng-template>
          </ngb-panel>
          </ngb-accordion>
          <br/>
        <div class="form-group">
             <button type="button" class="btn btn-primary" (click)="activeModal.close('Cerrar')">Cerrar</button>
        </div>
    </div>
</div>

