
<div class="modal-header">
    <h1 class="modal-title">Sobre RadarLeufú</h1>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cerrar')">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <p>RadarLeufú es un Mapeo ambiental ciudadano del Río Negro, Limay y Neuquén que busca visibilizar nuestros conflictos y amenazas ambientales, para convertirlas en desafíos colectivos que movilicen a la ciudadanía para trabajar conjuntamente en sus soluciones.
            la voz de la ciudadanía al debate sobre la realidad ambiental de la región.
        </p>
        <div class="form-group">
             <button type="button" class="btn btn-primary" (click)="activeModal.close('Cerrar')">Cerrar</button>
        </div>
    </div>
</div>

