
 <div class="modal-header">
      <h4 class="modal-title">Sobre Dataleufú</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cerrar')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Dataleufú brinda la posibilida de monitorear colectivamente los conflictos socioambientales de la región. La propuesta busca no solo visibilizar dichos conflictos y amenazas sino convertirlas en desafìos colectivos que puedan aunar conocimientos y perspectivas diversas para conseguir soluciones. </p>
      <p>Nos posicionamos desde un enfoque basado en la abundancia de las capacidades ciudadanas para generar cambios sociales
       acordes con el cambio de paradigma digital que estamos viviendo.
       Una pregunta que nos hacemos constantemente es cómo canalizar y optimizar esa abundancia de recursos y cómo ésto puede
        ser ayudado por las herramientas tecnológicas.
        Así, las energías y las acciones se pueden multiplicar: generar herramientas de construcción colectiva
         donde podamos conscientizar a nuestros pares y vecinos sobre los conflictos
          y desafios medioambientales de nuestra región es una forma de aportar
           en la posible solución de los mismos.
    Al mismo tiempo, generalmente el debate sobre la sostenibilidad
     de nuestros recursos naturales comunes se ha hecho directamente desde y
      entre los campos científicos y políticos.
      Las herramientas tecnológicas permiten aprovechar las riquezas y la abundancia de
       las capacidades ciudadanas, algo que se hace urgente ante la creciente multiplicidad de
       problemáticas medioambientales en la zona (uso de agroquímicos y derrames a los ríos Limay, Neuquén y Negro,
       urbanización descontrolada, avance del fracking, vertidos ilegales, etc.).
       Si los temas ambientales no son tenidos en cuenta por los decisores políticos
       (¡de cualquier color partidario o nivel administrativo!),
       la ciudadanía puede/debe aportar en la concientización, visibilización o
        solución de los conflictos ambientales.
        La tecnología puede ayudar en este camino, sumando la voz de la ciudadanía al debate sobre la realidad ambiental de la región.
        </p>      <p>Dataleufú brinda la posibilida de monitorear colectivamente los conflictos socioambientales de la región. La propuesta busca no solo visibilizar dichos conflictos y amenazas sino convertirlas en desafìos colectivos que puedan aunar conocimientos y perspectivas diversas para conseguir soluciones. </p>
      <p>Nos posicionamos desde un enfoque basado en la abundancia de las capacidades ciudadanas para generar cambios sociales
       acordes con el cambio de paradigma digital que estamos viviendo.
       Una pregunta que nos hacemos constantemente es cómo canalizar y optimizar esa abundancia de recursos y cómo ésto puede
        ser ayudado por las herramientas tecnológicas.
        Así, las energías y las acciones se pueden multiplicar: generar herramientas de construcción colectiva
         donde podamos conscientizar a nuestros pares y vecinos sobre los conflictos
          y desafios medioambientales de nuestra región es una forma de aportar
           en la posible solución de los mismos.
    Al mismo tiempo, generalmente el debate sobre la sostenibilidad
     de nuestros recursos naturales comunes se ha hecho directamente desde y
      entre los campos científicos y políticos.
      Las herramientas tecnológicas permiten aprovechar las riquezas y la abundancia de
       las capacidades ciudadanas, algo que se hace urgente ante la creciente multiplicidad de
       problemáticas medioambientales en la zona (uso de agroquímicos y derrames a los ríos Limay, Neuquén y Negro,
       urbanización descontrolada, avance del fracking, vertidos ilegales, etc.).
       Si los temas ambientales no son tenidos en cuenta por los decisores políticos
       (¡de cualquier color partidario o nivel administrativo!),
       la ciudadanía puede/debe aportar en la concientización, visibilización o
        solución de los conflictos ambientales.
        La tecnología puede ayudar en este camino, sumando la voz de la ciudadanía al debate sobre la realidad ambiental de la región.
        </p>      <p>Dataleufú brinda la posibilida de monitorear colectivamente los conflictos socioambientales de la región. La propuesta busca no solo visibilizar dichos conflictos y amenazas sino convertirlas en desafìos colectivos que puedan aunar conocimientos y perspectivas diversas para conseguir soluciones. </p>
      <p>Nos posicionamos desde un enfoque basado en la abundancia de las capacidades ciudadanas para generar cambios sociales
       acordes con el cambio de paradigma digital que estamos viviendo.
       Una pregunta que nos hacemos constantemente es cómo canalizar y optimizar esa abundancia de recursos y cómo ésto puede
        ser ayudado por las herramientas tecnológicas.
        Así, las energías y las acciones se pueden multiplicar: generar herramientas de construcción colectiva
         donde podamos conscientizar a nuestros pares y vecinos sobre los conflictos
          y desafios medioambientales de nuestra región es una forma de aportar
           en la posible solución de los mismos.
    Al mismo tiempo, generalmente el debate sobre la sostenibilidad
     de nuestros recursos naturales comunes se ha hecho directamente desde y
      entre los campos científicos y políticos.
      Las herramientas tecnológicas permiten aprovechar las riquezas y la abundancia de
       las capacidades ciudadanas, algo que se hace urgente ante la creciente multiplicidad de
       problemáticas medioambientales en la zona (uso de agroquímicos y derrames a los ríos Limay, Neuquén y Negro,
       urbanización descontrolada, avance del fracking, vertidos ilegales, etc.).
       Si los temas ambientales no son tenidos en cuenta por los decisores políticos
       (¡de cualquier color partidario o nivel administrativo!),
       la ciudadanía puede/debe aportar en la concientización, visibilización o
        solución de los conflictos ambientales.
        La tecnología puede ayudar en este camino, sumando la voz de la ciudadanía al debate sobre la realidad ambiental de la región.
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Cerrar')">Cerrar</button>
    </div>


