
<nav class="navbar navbar-expand-lg fixed-top" >
  <ul class="navbar-nav navbar-nav-xl sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="about($event)">Sobre el proyecto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="collapsePaths($event)">Nos gusta</a>
      <ng-template #pathContainer></ng-template>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="collapseLayers($event)">Nos preocupa</a>
      <ng-template #layerContainer></ng-template>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="addPoint($event)" >Agregar punto</a>
    </li>

    <li class="nav-item">
      <span class="nav-link">
          <a class="nav-social"  href="#" (click)="logCamera($event)" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a>
          <a class="nav-social"  href="#" (click)="logCamera($event)" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a>
          <a class="nav-social"  href="#" (click)="logCamera($event)" title="Info de la cámara para armar recorridos"><i class="fa fa-info"></i></a>
      </span>
    </li>
    <ng-template #userContainer></ng-template>
  </ul>
</nav>
<ng-template #messageContainer></ng-template>
<ng-template #detailContainer></ng-template>

