
<nav class="navbar navbar-expand-lg fixed-top" >
  <ul class="navbar-nav navbar-nav-xl sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="about($event)">Dataleufu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="testFlyTo($event)">Recorridos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="addPoint($event)" >Agregar punto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="collapseLayers($event)"  [attr.aria-expanded]="!isCollapsed" >Capas</a>
      <ul [ngbCollapse]="isCollapsed">
        <li class="nav-item"><a class="nav-link" href="#" (click)="addPoint($event)" >Vertederos no autorizados</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="addPoint($event)" >Micro basurales
</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="addPoint($event)" >Capas</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="addPoint($event)" >Capas</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="testFlyTo($event)">Recorridos</a>
    </li>

  </ul>
</nav>
<ng-template #messageContainer></ng-template>
<ng-template #detailContainer></ng-template>

