
<ul class="sidebar-submenu" [hidden]="!collapsed">
    <li class="nav-item" >
        <a class="nav-link" href="#" (click)="rio($event)" id="rio">El río</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="#" (click)="pasoCordoba($event)" id="paso_cordoba">Paso Córdoba</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="#" (click)="confluencia($event)" id="confluencia">La confluencia</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" href="#" (click)="mar($event)" id="mar">La desembocadura</a>
    </li>
</ul>
