<div [hidden]="submitted">
    <div class="modal-header">
        <h2>Completá tu informe</h2>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
                <form (ngSubmit)="onSubmit()" #placeForm="ngForm">
                    <div class="form-group">
                        <label for="category">Categoría</label>
                        <select [(ngModel)]="model.category"  id="category" name="category" class="form-control" required>
                            <option *ngFor="let cat of categories" [ngValue]="cat.pk" >{{cat.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea type="text" class="form-control" id="name" rows="8" maxlength="3000"
                           required
                           [(ngModel)]="model.description" name="description"
                           #description="ngModel" ></textarea>
                        <div [hidden]="description.valid || description.pristine"
                            class="alert alert-danger">
                        Debe completar la descripción.
                        </div>
                    </div>

                    <image-upload

                      [headers]="[
                        {header: 'Authorization', value: 'MyToken'}
                      ]"
                      [buttonCaption]="'Subí la foto'"
                      [dropBoxMessage]="'O arrastrá la foto aquí.'"
                      [extensions]="['jpg','png','gif']"
                      (onFileUploadFinish)="imageUploaded($event)"
                      (onRemove)="imageRemoved($event)"
                      (isPending)="disableSendButton($event)"

                    ></image-upload>

                    <div [ngBusy]="{busy: busy, message: 'Enviando...'}"></div>
                    <hr/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!placeForm.form.valid">Enviar</button>
                        <button type="submit" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                    </div>
                </form>

        </div>
    </div>
</div>

<div [hidden]="!submitted">
    <div class="modal-header">
        <h2>¡Gracias por compartir!</h2>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" (click)="cancel()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
