<div [hidden]="submitted">
    <div class="modal-header">
        <h2>Actualizá tus imágenes</h2>
    </div>

    <div class="modal-body">
        <div class="container-fluid">
                <form (ngSubmit)="onSubmit()" #placeForm="ngForm">

                    <image-upload

                      [headers]="[
                        {header: 'Authorization', value: 'MyToken'}
                      ]"
                      [buttonCaption]="'Subí la foto'"
                      [dropBoxMessage]="'O arrastrá la foto aquí.'"
                      [extensions]="['jpg','png','gif']"
                      [uploadedFiles]="imagesNames"
                      (uploadFinished)="imageUploaded($event)"
                      (removed)="imageRemoved($event)"
                      (isPending)="disableSendButton($event)"

                    ></image-upload>
<div [ngBusy]="{busy: busy, message: 'Enviando...'}"></div>
                    <hr/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!placeForm.form.valid">Enviar</button>
                        <button type="submit" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                    </div>
                </form>

        </div>
    </div>
</div>

<div [hidden]="!submitted">
    <div class="modal-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2>¡Gracias por colaborar!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Compartir</span>
                    <a class="nav-social" shareButton="facebook" [sbUrl]="url" title="Compartir en Facebook"><i class="fa fa-facebook"></i></a>
                    <a class="nav-social" shareButton="twitter" [sbUrl]="url" title="Compartir en Twitter"><i class="fa fa-twitter"></i></a>
                    <a class="nav-social" shareButton="whatsapp" [sbUrl]="url" title="Compartir en Whatsapp"><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" (click)="cancel()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
