<div *ngIf="visible" class="container-fluid place_card_container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9 ml-auto over_menu" >

            <div class="row place_card">
                <div class="col-12 col-sm-12" >
                    <div class="detail-header">
                        <button type="button" (click)="close()" class="close pull-rigth" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <p class="title text-primary">
                            <span *ngIf="!canEdit()"  >{{categoryName}}</span>
                       <ndv-select  [permission]="canEdit()"  [items]="categoryNames"

                       [title]="'name'" [placeholder]='categoryName' (onSave)='saveCategory($event)'></ndv-select >


                        <a class="btn btn-link text-primary" href="#" (click)="flyToEntity($event)" title="Ir a la ubicación">
                            <i class="fa fa-location-arrow text-primary"></i> Ir</a></p>

                        <hr>
                         <div class="btn-group" role="group" aria-label="Acciones">
                            <a class="btn btn-link" href="#" (click)="$event.preventDefault();"><i class="fa fa-thumbs-o-up"></i> Lo ví, es así</a>
                            <a class="btn btn-link" href="#"  (click)="t.select('tab-comments');$event.preventDefault();"><i class="fa fa-comment-o"></i> Quiero participar</a>

                            <div ngbDropdown class="d-inline-block over_images">
                                  <a class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>
                                      <i class="fa fa-share-alt"></i> Compartir</a>
                                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <a class="btn btn-link dropdown-item" shareButton="facebook" [sbUrl]="getUrl()">Facebook</a>
                                    <a class="btn btn-link dropdown-item" shareButton="twitter" [sbUrl]="getUrl()">Twitter</a>
                                    <a class=" btn btn-link dropdown-item"  shareButton="whatsapp" [sbUrl]="getUrl()">Whatsapp</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <ngb-tabset #t="ngbTabset" (tabChange)="beforeTabChange($event)" destroyOnHide="false">
                        <ngb-tab id="tab-gallery" title="Fotos">
                            <ng-template ngbTabContent>
                                <div class="panel">
                                    <a *ngIf="canEdit()" class="btn btn-link pull-rigth" href="#"
                                        (click)="changeFotos();$event.preventDefault();">
                                        <i class="fa fa-edit"></i> Modificar fotos
                                    </a>
                                    <ngx-gallery   [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-info" title="Info">
                            <ng-template ngbTabContent>
                                <div class="panel">
                                    <p class="title text-primary">{{getCategory(currentEntity.properties.category).name}}

                                     <p *ngIf="currentPlace" class="creation text-muted">
                                        Creado por <b>{{currentPlace.owner.user.username}}</b> <span *ngIf="currentPlace.owner.group"  (click)="t.select('tab-group')">del grupo <b>{{currentPlace.owner.group.name}}</b></span> el {{currentPlace.created | date:'dd/MM/yy'}}.

                                    </p>
                                    <hr/>

                                    <p><ndv-area  [permission]="canEdit()"  [title]="'description'" [placeholder]='description' (onSave)='saveDescription($event)'></ndv-area></p>

                                    <hr>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tab-comments" title="Comentarios">
                            <ng-template ngbTabContent>
                                <div class="panel">
                                  <fb-comments [href]="currentURL"></fb-comments>
                                </div>
                            </ng-template>
                        </ngb-tab>


                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
