.miniview{
    z-index: 9999999999999;
    position: absolute;
    top: -5px;
    right: 3px;
}
.miniview-container {
    position:relative;
}

.cesiumContainer {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;


}
.cesium2{
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 100%;
    line-height: normal;
    /*opacity: 0;*/
    overflow: hidden;
    position: fixed;
    width: 100%;

}

section
{
  background:yellow;
}
.banner
{
  background:red;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner h1
{
  color:white;
}

.cursor_map{
    cursor:pointer;
}
.cursor_point{
    cursor:crosshair;
}
.place_card_container{
    position: absolute;
    bottom: 0;
    right: 0;

}
.place_card{
    z-index: 999 !important;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:WHITE;
}
/***********************************************************************
*  NAVBAR SECTION
***********************************************************************/
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: block !important;
    background-color: rgba(0,0,0,0) !important;
    max-width: 130px;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    display: inline-block;

}
.sidebar-nav .nav-link {
    color: rgba(249, 246, 246, 1) !important;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {

}


/* Modal fullscreen */
.modal-fullscreen .modal-dialog {
  width: 100% !important;
  height: 100%;
  max-width: 100%!important;
  margin: 0!important;
  padding: 0;
}
.modal-fullscreen .modal-content {
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
  background-color:#eae3ad;
}
