

.miniview{
    z-index: 9999999999999;
    position: absolute;
    top: -5px;
    right: 3px;
}
.miniview-container {
    position:relative;
}

.cesiumContainer {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;


}
.cesium2{
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 100%;
    line-height: normal;
    /*opacity: 0;*/
    overflow: hidden;
    position: fixed;
    width: 100%;

}

section
{
  background:yellow;
}
.banner
{
  background:red;
  min-height:200px;
}
.banner .row
{
  text-align:center;
  margin-top:50px;
}
.banner h1
{
  color:white;
}

.cursor_map{
    cursor:pointer;
}
.cursor_point{
    cursor:crosshair;
}
.place_card_container{
    position: absolute;
    bottom: 0;
    right: 0;
}
.place_card_container .nav-link{
    padding: .5rem .7rem;
}

/*Modelo 1
.place_card{
    background-color:WHITE;
    height: 80%;
}
.place_card .card-body{
    background-color:WHITE;
    max-height: 500px;
    padding: 0rem;
}
.place_card .card-body .image{
    background-color:WHITE;
    max-height: 250px;
    overflow: hidden;
    padding: 0px;
}
.place_card .card-body .description{
    background-color:WHITE;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5pt;
}
.place_card .card-body .place_image{
    max-height: 200px;
    overflow: hidden;

          }
.place_card .card-footer{
    background-color:WHITE;
 }
.place_card .social a{
    color: #4CB493;
}
.profile-info a {
  color: #4CB493;
}

.place_card .social i {
  padding: 15px;
}
* */

/*Modelo 2
.place_card{
    background-color:WHITE;

}
.place_card .card-body{
    background-color:WHITE;
    max-height: 500px;
    padding: 0rem;
}
.place_card .card-body .image{
    background-color:WHITE;
    max-height: 250px;
    overflow: hidden;
    padding: 0px;
}
.place_card .card-body .description{
    background-color:WHITE;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5pt;
}
.place_card .card-body .place_image{
    max-height: 200px;
    overflow: hidden;

          }
.place_card .card-footer{
    background-color:WHITE;
 }
.place_card .social{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;

}
.image_wrapper {
   position: relative;
   bottom: 0;
    left: 0;
}
.place_card .social a{
    color: white;
}

.place_card .fly-to-entity{
    color: #4CB493;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;

    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: 0 0;
    border: 0;
    padding: 0;
}


.profile-info a {
  color: #4CB493;
}

.place_card .social i {
  padding: 15px;
  }
  */

 /*Model 3 slider*/
.place_card{
    background-color:WHITE;

}
.place_card  .description{
    background-color:WHITE;
  /*  max-height: 250px;
    min-height: 250px;*/
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 15pt;
    padding-bottom: 15pt;
}
.place_card .panel{
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .place_card .panel{
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.a{
max-height: 20%;
height: 20%;
}
.b{
max-height: 300px;
max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.c{
padding-top: 20pt;
max-height: 20%;
height: 20%;
}
.abc{
max-height: 90%;
height: 90%;
}
.detail-header hr{
    margin: 0px;
}
.detail-header a{
    color: #343a40;
    font-size: 0.85rem;
    padding-top: .1675rem !important;
    padding-bottom: .1675rem !important;
    padding-left: .01rem !important;
    padding-right: .8rem !important;
}
.detail-header .dropdown-item{
   padding-left: .8rem !important;
}
.detail-header .creation{
    color: #343a40;
    font-size: 0.85rem;
    margin:0;
}
.detail-header .title{
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.2rem;
    padding-top: 10pt;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: .1rem;
}

.voting .fa { font-size: 50px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }
.voting a { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }
/* Visitor */
a.visitor i,.visitor h4.list-group-item-heading { color:#E48A07; }
a.visitor:hover { background-color:#E48A07; }
a.visitor:hover * { color:#FFF; }
/* Facebook */
a.facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
a.facebook-like:hover { background-color:#3b5998; }
a.facebook-like:hover * { color:#FFF; }
/* Google */
a.google-plus i,.google-plus h4.list-group-item-heading { color:#dd4b39; }
a.google-plus:hover { background-color:#dd4b39; }
a.google-plus:hover * { color:#FFF; }
/* Twitter */
a.twitter i,.twitter h4.list-group-item-heading { color:#00acee; }
a.twitter:hover { background-color:#00acee; }
a.twitter:hover * { color:#FFF; }
/* Linkedin */
a.linkedin i,.linkedin h4.list-group-item-heading { color:#0e76a8; }
a.linkedin:hover { background-color:#0e76a8; }
a.linkedin:hover * { color:#FFF; }
/* Tumblr */
a.tumblr i,.tumblr h4.list-group-item-heading { color:#34526f; }
a.tumblr:hover { background-color:#34526f; }
a.tumblr:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; }
a.youtube:hover * { color:#FFF; }
/* Vimeo */
a.vimeo i,.vimeo h4.list-group-item-heading { color:#44bbff; }
a.vimeo:hover { background-color:#44bbff; }
a.vimeo:hover * { color:#FFF; }
/***********************************************************************
*  NAVBAR SECTION
***********************************************************************/
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    display: block !important;
    background-color: rgba(0,0,0,0) !important;
    max-width: 120px;
    font-family: Affogato-bold;
}
.sidebar-nav .nav-social {
    color: rgba(249, 246, 246, 1) !important;
    padding: 5px;
}
@media (min-width: 768px) {
    .sidebar-nav {
        max-width: 220px;
    }
}
.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    display: inline-block;

}
.sidebar-nav .nav-link {
    color: rgba(249, 246, 246, 1) !important;
}
.sidebar-submenu {
    color: rgba(249, 246, 246, 1) !important;
    padding-left: 15px;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {

}


/* Modal fullscreen */
.modal-fullscreen .modal-dialog {
  width: 100% !important;
  height: 100%;
  max-width: 100%!important;
  margin: 0!important;
  padding: 0;
}
.modal-fullscreen .modal-content {
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;

}


.create_point_container{

    background-color:WHITE;
    position: absolute;
    bottom: 0;

}
.over_map{
    z-index: 999 !important;
}

.over_menu{
  z-index: 1999 !important;
}

.over_images{
 z-index: 10000 !important;
}

.nav-social {

    padding: 5px;
}
//////////////
.splash-container
{

    background-color: green;

    width: 100%;
    height: 100%;
}
#fountainTextG{
    width:234px;
    margin:auto;
}

.fountainTextG{
    color:rgb(0,0,0);
    font-family:Arial;
    font-size:24px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    animation-name:bounce_fountainTextG;
        -o-animation-name:bounce_fountainTextG;
        -ms-animation-name:bounce_fountainTextG;
        -webkit-animation-name:bounce_fountainTextG;
        -moz-animation-name:bounce_fountainTextG;
    animation-duration:2.09s;
        -o-animation-duration:2.09s;
        -ms-animation-duration:2.09s;
        -webkit-animation-duration:2.09s;
        -moz-animation-duration:2.09s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
    transform:scale(.5);
        -o-transform:scale(.5);
        -ms-transform:scale(.5);
        -webkit-transform:scale(.5);
        -moz-transform:scale(.5);
}#fountainTextG_1{
    animation-delay:0.75s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}
#fountainTextG_2{
    animation-delay:0.9s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}
#fountainTextG_3{
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}
#fountainTextG_4{
    animation-delay:1.2s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}
#fountainTextG_5{
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}
#fountainTextG_6{
    animation-delay:1.5s;
        -o-animation-delay:1.5s;
        -ms-animation-delay:1.5s;
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
}
#fountainTextG_7{
    animation-delay:1.64s;
        -o-animation-delay:1.64s;
        -ms-animation-delay:1.64s;
        -webkit-animation-delay:1.64s;
        -moz-animation-delay:1.64s;
}
#fountainTextG_8{
    animation-delay:1.79s;
        -o-animation-delay:1.79s;
        -ms-animation-delay:1.79s;
        -webkit-animation-delay:1.79s;
        -moz-animation-delay:1.79s;
}




@keyframes bounce_fountainTextG{
    0%{
        transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainTextG{
    0%{
        -o-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -o-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_fountainTextG{
    0%{
        -ms-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -ms-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainTextG{
    0%{
        -webkit-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -webkit-transform:scale(.5);
        color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainTextG{
    0%{
        -moz-transform:scale(1);
        color:rgb(0,0,0);
    }

    100%{
        -moz-transform:scale(.5);
        color:rgb(255,255,255);
    }
}
